<router-outlet></router-outlet>
<div class="pContainer">
  <div class="pCard">
    <h3 class="pCard_text pCenter">Poke-Finder</h3>
    <div class="pCard_header" [formGroup]="formBuilder">
      <select formControlName="pokemonId" class="pInput_select">
	<option value="null" disabled selected>select Pokemon</option>
	<option *ngFor="let pokemon of (pokemon$ | async)?.pokemonList?.results; let i = index" [value]="pokemon.url | getId">{{pokemon.name | titlecase}}</option>
      </select>
      <input type="text" class="pInput" placeholder="pokemonId" formControlName="id" />
      <button class="button" (click)="getPokemon()" [disabled]="formBuilder.invalid">click me</button>
    </div>
    <div class="pCard_body" [ngClass]="{'active': (poke$ | async)}">
      <div class="card-body d-flex justify-content-center" *ngIf="(poke$ | async)">
	<div class="d-flex align-items-center flex-column">
	  <div class="justify-content-center">
	    <img [src]="(poke$ | async)?.sprites" alt="" />
	  </div>
	  <div class="pCard_text">
	    <h3>{{(poke$ | async)?.name | titlecase}}</h3>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
